*{
    padding: 0%;
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.barre-nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 1%;
    padding-left: 3%;
    
}
/* Probleme Logo*/
.logo1{
     margin-top: -4%;
     padding-left: 4%;
}

@font-face {
	font-family: Nickainley;
	src: url(../WatchFlix/police/Nickainley-Normal.otf);
}
body {
	font-family: 'Nickainley', sans-serif;
}
ul{
    list-style: none;
    text-decoration: none;
}
a{
    font-size: 35px;
    text-decoration: none;
}
.films{
    color: #FAFF00;
    font-weight: 800;
}
.series , #communauté{
    color: #D96868;
    font-weight: 800;
}
#background-video {
    height: 27vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  h1, h2, #btnVideo {
    color: #FAFF00;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
  }
  
  #btnVideo {
    font-size: 1.5rem;
    background: 0;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
.content{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-left: 38%;

}
.nav1{
    display: flex;
    flex-direction: row;
    gap: 20%;
}
.nav{
    display: grid;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.img-footer{

}

.fsttextbloc {
    width: 30%;
    height: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: #FAFF00;
    font-weight:700;
    font-family: "Nickainley";
    cursor: pointer;
}

.lsttextbloc {
    width: 30%;
    height: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: #E16C6C;
    font-weight:700;
    font-family: "Nickainley";
    cursor: pointer;
}


.contacter:hover{
    color: #D96868;
   
}
.mention:hover{
    color: #FAFF00;
}
.Films > a:hover{
    color: #D96868;
}
.Series , .communauté > a:hover{
    color: #FAFF00 !important;
}

.Series > a:hover{
    color: #FAFF00;
}





.logo {
    width: 300px;
    height: 100%;
    display: grid;
    margin-right: auto;
    padding-left: 4%;
    margin-left: auto;
    padding-top: 2%;
    margin-bottom: 2%;
}


.slider{
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items:center;
    overflow: hidden;
}
.slider-2{
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items:center;
    overflow: hidden;
}
.slide-track{

    display :flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite ;
}
.slide-track-2{

    display :flex;
    width: calc(250px * 18);
    animation: scrollright 40s linear infinite ;
    margin-right: 100%;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX( calc(-250px* 9));
    }
    
}
@keyframes scrollright {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX( calc(250px*9));
    }
    
}

.slide-track:hover{
    animation-play-state: paused;
}
.slide-track-2:hover{
    animation-play-state: paused;
}
.slide {
    height : 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 300px;
}
.slide-2 {
    height : 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 300px;
}

img{
    width: 90%;
    transition: transform 1s;
}

img:hover{
    transform: translateZ(20px);
}


/* GRADIENT SHADOWS */

.slider::before,
.slider::after{
    background-color: linear-gradient (to right, rgba(255,255,255,1) 0%, rgba (255,255,255,0) 100%);
    content : '';
    height: 100%;
    position:absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left:0;
    top:0;
}
.slider::after{
    left:0;
    top:0;
    transform: rotateY('180deg');
}

.films1{
    height : 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 300px;
}

#logo5{
    width: 300px !important;
}

.title{
    color: #D96868;
}
.titre{
    margin-bottom: 2%;
    margin-top: 2%;
}
body{
    background-color: #3A3A3A;
}
.title1{
    color: #FAFF00;
    font-weight: 800;
}

   


.formulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.formulaire1{
    justify-content: center;
    margin-left: auto;
    width: 41%;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: black;
    border-radius: 5%;
    height: 50%;
}
label{
    color: #D9D9D9;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
input > #pseudo, #nom, #prenom, #prename, #email, #confirm_pass, #user_kind, #user_kind , #uspass, #confpass , #name{
    height: 50%;
    border-radius: 10px;
}
.button{
    margin-top: 10%;
    margin-bottom: 10%;
}
.nom{
    color: #FAFF00;
    
    justify-content: center;
    font-size: 33px;
}



/*Partie Flips Carte Film */


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
  
  .flip-card:focus {
      outline: 0;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .flip-card-front {
  
    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-back {
   
    color: black;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: black;
  }
  .mention {
    color: #E16C6C;
    font-family: 'Nickainley', sans-serif;
    font-weight: bold;
    
  }
  .contacter {
    color: #FAFF00;
    font-family: 'Nickainley', sans-serif;
    font-weight: bold;
    
  }
  
    .cart-film{
      display: flex;
      grid-column: row;
      justify-content: space-around;
      
    }
    .cart-film-2{
          display: flex;
          grid-column: row;
          justify-content: space-around;
          margin-top: 2;
        }
    
  .cart-film-bottom{
      display: flex;
      grid-column: row;
      justify-content: space-around;
      margin-top: 4%;
      margin-bottom: 4%;
  }
  .resumé{
      font-size: 10px;
      color: aliceblue;
      width: 20vh;
      
  }
  
  
  
  .img-films{
    width: 70%;
  }
  h3{
    font-size: 20px;
  }
  .title-film1{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFF;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 5%;
  }


  .resumé-resp{
    display: none;
  }

 

  @media screen and (max-width:1200px) {

    .cart-film-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 4%;
        margin-bottom: 4%;
    }


    .cart-film{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
        transform: none;
    }
    .resumé{
        display: none;
    }
    .resumé-resp{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        margin-top: 10%;
        margin-left: auto;
    margin-right: auto;
        text-align: center;
        width: 70%;
        color: #FFFF;
      }
      .flip-card{
        margin-left: auto;
    margin-right: auto;
      }
      .title-film1{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
      }
      .title-film2{
        display: none;
      }
      .img-films{
        width: 70%;
      }
      .title{
        text-align: center;
      }
      #logo5{
        width: 179px !important;
      }
}


@media screen and (max-width:900px)and (max-width:1200px){

    .cart-film-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 4%;
        margin-bottom: 4%;
    }


    .cart-film{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
        transform: none;
    }
    .resumé{
        display: none;
    }
    .resumé-resp{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        margin-top: 10%;
        margin-left: auto;
    margin-right: auto;
        text-align: center;
        width: 70%;
        color: #FFFF;
      }
      .flip-card{
        margin-left: auto;
    margin-right: auto;
      }
      .title-film1{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
      }
      .title{
        text-align: center;
      }
      #logo5{
        width: 179px !important;
      }
}




.body_communauté_page {
    width: 100%;
    height: 100vh;
    background-color: #3A3A3A;
    display: flex;
    flex-direction:column;
}

.title_body_communauté_page {
    width: 100%;
    height: 28%;
    background-color: inherit;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title_body_communauté_page_core {
    width: 85%;
    height: 88%;
    background-color: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "nick";
    color: #E16C6C;
    font-size: 5.5em;
}

.core_body_communauté_page {
    width: 100%;
    height: 72%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.comment_area {
    width: 85%;
    height: 25vh;
    background-color: #D9D9D9;
    margin-top: 1.4em;
    display: flex;
    flex-direction: column;
}

.comment_area_info {
    width: 100%;
    height: 35%;
    background-color: inherit;
    display: flex;
    flex-direction: row;
}

.comment_area_info_avatar {
    width: 7.5%;
    height:95%;
    background-color: inherit;
    border-radius: 50%;
    margin: 0.11em 0 0 0.25em;
    border: 1px solid black;
}

.pseudo_user_ID {
    width: 15%;
    height: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "nick";
    font-size: 2.1em;
    font-weight: 800;
}

.spacement_class {
    width: 60%;
    height: 100%;
    background-color: inherit;
}

.Date_JJ_MM_AAAA {
    width: 20%;
    height: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

.inputer {
    width: 100%;
    height: 44vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    flex-direction: column;
}

.title_frame {
    width: 100%;
    height: 35%;
    background-color: inherit;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "nick";
    font-size: 2.5em;
    font-weight: 800;
}

.input_comment {
    width: 35%;
    height: 15vh;
    margin-bottom: 0.75em;
}

.subbutton {
    width: 19%;
    height: 15%;
    border-radius: 1.7em;
    cursor: pointer;
}

.subbutton:hover {
    background-color:#666666;
    color: white;
}
    


.nom1{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.nom2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.bouton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 13%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}
.bouton1, .bouton2 , .bouton3{
    border-radius: 10px;
    width: 11%;
}
.titre{
    font-size: 15px;
}
.login{
    display: flex;
    flex-direction: column;
    WIDTH: 70%;
    margin-left: auto;
    margin-right: auto;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.input1{
    width: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.connexion{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
legend{
    display: flex;
    margin-left: auto;
    margin-right: auto;
     font-size: 35px;
}