.popup{
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: none;
}
.contentBox{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  height: 400px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 5px 15px  rgba(0,0,0,0.1);

}
.contentBox .imgBx img{
  position: relative;
  max-width: 245px;
  z-index: 1;
  margin-top: 8%;
  justify-content: center;
display: flex;
margin-right: auto;
margin-left: auto;

}

.contentBox .imgBx::before{
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
}
h4{
  color: aliceblue;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.buttonPopup{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  list-style: none;
  text-decoration: none;
}
li{
  text-decoration: none;
}
.close{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #F3F3F3 url(./img/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position:center ;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}
.link-popup{

}

/* Responsive Popup */

@media (max-width :767px){

  .contentBox{
    width: 360px;
    height: auto;
    flex-direction: column;
  }
  h4{
    margin-top: 67px;
  }
  .buttonPopup{
    margin-bottom: 51px;
  }
}